.dynks-enabled, .dynks-moving {
    cursor: ew-resize;
}

.number-input,
.dynks-enabled {
    padding: 0 0.1em;

    transition: 100ms box-shadow;
    -webkit-transition: 100ms box-shadow;
}

.number-input:hover,
.dynks-enabled:hover {
    box-shadow: inset 0 0 0.02em #000;
}

.number-input:focus,
.dynks-active {
    box-shadow: inset 0 0 0.04em #000;
    background: lightgray;
}

.dynks-out-of-range {
    box-shadow: inset 0 0 10px #000;
}